{% extends 'base.html' %}
{% block head %}
<p>head</p>
{% endblock %}


{% block content %}
<h1>{{title}}</h1>
{% include 'user/includes/profile_nav.html' %}
<p>{{ profile.name }}</p>
<p><img class="img-article-left thumb" src="{{ profile.avatar.url }}"></p>
<p>{{ profile.bio }}</p>

<br>
<p>Подписки</p>
{% for following in profile.following.all %}
    <a href="{{ following.get_absolute_url }}">
        чел
    </a>
{% endfor %}
<br>
<p>Подписчики</p>
{% for follower in profile.followers.all %}
<a href="{{ follower.get_absolute_url }}">
    чел
</a>
{% endfor %}
<br>

<ul class="list-articles">
    {% for post in posts %}
    <li>
        <div class="article-panel">
            <p class="first">Категория: {{ post.category }} -</p>
            <p class="first">Рейтинг поста: {{ post.rating }}</p>
            <p class="last">Дата: {{ post.update_at|date:"d-m-Y H:i:s" }}</p>
            <p class="last">Автор: <a href="{{ post.author.profile.get_absolute_url }}">{{ post.author }}</a>|</p>
        </div>
        <p><img class="img-article-left" src="{{ post.preview.url }}"></p>
        <h2>{{ post.title }}</h2>
        {% autoescape on %}
        {{post.content|linebreaks|truncatewords:32}}
        {% endautoescape %}
        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ post.get_absolute_url }}">Читать пост</a></p>
    </li>
    {% endfor %}
</ul>
{% endblock content %}