{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<ul class="list-articles">
    <li>LGBTQ+ - это более часто используемый термин в сообществе; возможно, потому что это более удобно! Вы также
        можете слышать термины «квир-сообщество» или «радужное сообщество», используемые для описания людей ЛГБТК2 +.
        Этот инициализм и различные термины постоянно развиваются, поэтому не пытайтесь запомнить список. Самое главное
        - относиться к вам с уважением и использовать те термины, которые предпочитают люди. Люди часто используют LGBTQ
        + для обозначения всех сообществ, включенных в «LGBTTTQQIAA»
    </li>
    <li>LGBTQ+ progress - кто понял тот поймет(флаг классный)</li>
    <li>LESBIAN - женская гомосексуальность. Гомосексуальных женщин называют лесбия́нками.</li>
    <li>GAY - гомосексуальный мужчина. Слово «гей» используется для обозначения мужчин с точки зрения их сексуальной
        идентичности (сексуального поведения, сексуальной ориентации) или в качестве прилагательного, связывающего
        существительные с мужской гомосексуальностью.
    </li>
    <li>BISEXYAL - романтическое и сексуальное влечение или сексуальная активность по отношению и к мужчинам, и к
        женщинам.
    </li>
    <li>PANSEXYAL - ну это что-то про Пашу.</li>
    <li>TRANS - состояние, при котором гендерная идентичность человека не соответствует его зарегистрированному при
        рождении полу, характеризующееся стремлением жить и функционировать в качестве противоположного пола, и обычно
        сочетающееся с чувством неадекватности или дискомфорта от своего анатомического пола и желанием совершения
        трансгендерного перехода путём гормонального и хирургического лечения.
    </li>
    <li>AGENDER - используется для описания человека, который не идентифицирует себя с каким-либо определенным полом.
    </li>
    <li>INTERSEX - термины, означающие смешанное проявление мужских и женских половых признаков у особей раздельнополых
        видов (интерсексуальность), и организм, имеющий такие физические характеристики (интерсекс).
    </li>
</ul>
{% endblock %}