{% extends 'blog/base.html' %}

{% block content %}
<h1>{{post.title}}</h1>
{{post.content|linebreaks}}
{% if request.user == post.author %}
<p class="link-read-post">
    <a href="{% url 'editpost' post_slug=post.slug %}">Редактировать пост</a>
    <a href="{% url 'deletepost' post_slug=post.slug %}">Удалить пост</a>
</p>
{% endif %}

{% if request.user.is_authenticated %}
<form action="" method="post">
        {% csrf_token %}
        <div class="form-error">{{ form_comment.non_field_errors }}</div>

        {% for f in form_comment %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <button type="submit" name="comment">Коментировать</button>
    </form>
{% endif %}

<ul class="list-comment">

        {% for comment in comments %}
            <li>
                <div class="comment-panel">
                    <p class="first">Чел: {{ comment.owner }}</p>
                    <p class="last">Время: {{ comment.time_create|date:"d-m-Y H:i:s" }}</p>
                </div>
                {{ comment.text }}
                </li>
        {% endfor %}

    </ul>
{% endblock %}